.body {
    background-color: #dfe6e9;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    background-color: #dfe6e9;
    min-height: 48vh;
    padding: 5px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.features-label {
    width: 423px;
    height: 28px;
    cursor: pointer;
}

.delete-button {
    margin-left: 3px;
}

.url-label {
    color: Gray;
    font-weight: 400;
    line-height: 1.5;
}

.icAlignStyle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-label-style {
    display: flex;
    height: 90px;
    width: 90px;
    border: dashed;
    justify-content: center;
    align-items: center;
    border-color: gray;
    margin-top: 13px;
}

.list-style {
    border-bottom: 1px solid rgba(0,0,0,.125);
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
}

.image-preview-style {
    width: 90px;
    height: 90px;
    margin-left: -50px;
}

.ubication-feature-lbl {
    background-color: white;
    color: black;
}

    .ubication-feature-lbl:hover {
        background-color: darkgreen;
        color: white;
    }

.ubication-feature-lbl-selected {
    background-color: darkgreen !important;
    color: white;
}

    .ubication-feature-lbl-selected:hover {
        background-color: darkred !important;
        color: white;
    }

.thumbnail {
    width: 120px;
    height: 120px;
    object-fit: cover;
    box-shadow: 3px 3px 2px rgba(0,0,0,.175);
}


.close-button-style {
    color: red;
    font-size: 18px;
    margin-left: -13px;
    margin-top: -4px;
    z-index: 1000;
    background-color: white;
    height: 14px;
    width: 13px;
    border-radius: 100px;
}

.figure-selected-style {
    border: 5px solid rgba(40, 167, 69, 1);
}

.figure-style {
    border: 5px solid rgba(40, 167, 69, 0);
}



    .figure-style:hover {
        border: 5px solid rgba(40, 167, 69, .3);
    }

.card-style {
    border: 1px solid rgba(0,0,0,.125);
    padding-bottom: 24px;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    margin: 24px;
    min-width: 250px;
}

.card-header-style {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    padding: 5px;
    background-color: rgba(1,1,1,0.6);
    color: white;
    margin-bottom: 24px;
    height: 55px;
}

.trash-button {
    display: flex;
    font-size: 20px;
    color: red;
    margin: 15px;
}

.text-area {
    border: 1px solid #ced4da;
    max-width: 328px;
    min-width: 230px;
    border-radius: .25rem;
}

.article-container-header {
    background-color: rgba(10,10,10,.2);
    color: white;
    align-items: center;
}

.houseform-container-body {
    display: flex;
}

.show-hide-bottom-form {
    font-size: 25px;
    color: white;
}



.article-validate-button {
    background-color: rgba(0,123,255,.7);
    min-width: 84px;
    margin-left: 1%;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    min-height: 38px;
}

.approve-articles-image {
    width: 150px;
    height: 150px;
    background-size: cover;
}

.shadow {
    box-shadow: 5px 5px 10px rgba(10, 10, 10, .7)
}

.backgroundless-list {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
}

.approve-articles-header-container {
    background-color: rgba(10,10,10,.2);
    padding: 15px;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.approve-articles-container {
    padding: 0;
    border: 1px solid rgba(10,10,10,.2);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#TerrainFeaturesList .list-group-item {
    min-width: fit-content;
    border: 1px solid rgba(0, 0, 0, .1);
}

#featuresContent .list-group-item {
    min-width: fit-content;
    border: 1px solid rgba(0, 0, 0, .1);
}

#HouseFeaturesList .list-group-item {
    min-width: fit-content;
    border: 1px solid rgba(0, 0, 0, .1);
}

#HouseAuxFeaturesList .list-group-item {
    min-width: fit-content;
    border: 1px solid rgba(0, 0, 0, .1);
}

.border-right-gray {
    border-right: 1px solid rgba(10,10,10,.2);
}

.home-template {
    position: absolute;
    padding-top: 70px;
    margin-top: -70px;
    background-position: top;
    background-image: url('../Images/shutterstock_363324191.jpg');
    height: 970px;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 3s;
}

.nav-style {
    color: white;
    background-color: rgba(10, 10, 10, .7);
    min-width: -webkit-fill-available;
    min-height: 70px;
}

.index-ubication-description {
    color: #17a2b8;
    display: block;
    max-width: 300px;
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
}

.ic-picture-container {
    width: 300px;
    height: 300px;
}

.ic-picture-img {
    object-fit: cover;
    width: 300px;
    border: 2px solid #17a2b8;
}

.ic-info-container {
    width: 300px;
}

.ic-mail {
    font-size: 20px;
}

.ic-1 {
    transform: perspective(700px) translateZ(-500px);
    transition: 2s;
    opacity: 0;
}

.ic-2 {
    transform: perspective(700px) translateZ(-600px);
    transition: 3s;
    opacity: 0;
}

.ic-3 {
    transform: perspective(700px) translateZ(-700px);
    transition: 4s;
    opacity: 0;
}

.ic-shadow {
    background: radial-gradient(circle, rgba(0,0,0,0.7150210425967262) -37%, rgba(0,0,0,0) 132%);
    box-shadow: 0px 0px 161px 3px;
    height: 179px;
    border-radius: 289px;
    width: 180px !important;
    position: absolute !important;
    transform: perspective(700px) rotateX(80deg);
    margin-top: 225px;
    margin-left: 140px;
}

.agents {
    transform: perspective(1000px) translateZ(-147px);
}

.article-filter {
    justify-content: center;
}

.article-filter-option {
    justify-content: center;
}

.min-height-100 {
    min-height: 100px;
    display: block;
}

.form-btn-container {
    display: none;
}

.form-mobile {
    display: none;
}

.experience-mobile {
    display: none;
    background-color: #2c3e50;
    align-items: center;
    justify-content: center;
}

.experience-desktop {
    background-color: #2c3e50;
    align-items: center;
    display: flex;
    justify-content: center;
}

.agents-description {
    padding: 10px;
}

.properties-filter {
    position: fixed;
    background-color: rgba(0, 0, 0, .9);
    height: max-content;
    z-index: 15;
    top: 70px;
    left: 0px;
    padding: 10px 0;
    border: 1px solid white;
    border-radius: 31px;
}

.properties-head {
    margin-top: 90px;
}

.filter-element {
    font-size: 10px !important;
}

.property-gallery {
    width: 600px;
    height: 500px;
}

.slide-gallery {
    width: 700px;
}

.sale-label-correction {
    margin: 10px 0px 0px 220px !important;
}

.property-head-information{
    font-size: 20px;
}

.ubication-head-information {
    font-size: 33px;
}

.ubication-gallery {
    width: 600px;
    height: 400px;
}

.item-ubication {
    width: 600px;
    height: 400px;
}

.item-height {
    height: inherit;
}

@media (max-width: 1024px) {
    .item-ubication {
        width: 400px;
        height: 300px;
    }

    .ubication-gallery {
        width: 400px;
        height: 300px;
    }

    .sale-label-correction {
        margin: 10px 0px 0px 130px !important;
    }

    .item-gallery {
        height: 90px !important;
        width: 90px !important;
    }

    .item {
        width: 400px !important;
    }

    .item-height {
        height: 300px !important;
    }

    .slide-gallery {
        width: 500px;
    }

    .property-gallery {
        width: 400px;
        height: 300px;
    }

    .thumbnail {
        width: 100px;
        height: 100px;
    }

    .home-template {
        height: 1100px;
    }

    .form-container {
        max-width: 400px !important;
        margin: 20px auto 150px 10px !important;
    }

    .dpl-form {
        font-size: 14px !important;
    }

    .index-item-container-1 {
        max-width: 300px;
    }

    .index-item-container-2 {
        max-width: 300px;
    }

    .index-item-container-3 {
        max-width: 300px;
    }

    .index-item-link {
        max-width: 300px;
    }


    .index-item-body {
        width: 300px !important;
    }

    .index-items-title {
        font-size: 40px !important;
    }

    .index-ubication-description {
        display: block;
        max-width: 300px;
        /* white-space: nowrap; */
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 14px;
    }
}

@media (max-width: 768px) {

    .ubication-head-information {
        font-size: 20px;
    }

    .property-head-information {
        font-size: 15px;
    }

    .item-gallery {
        height: 60px !important;
        width: 60px !important;
    }

    .slide-gallery {
        width: 350px;
    }

    .form-mobile {
        display: flex;
    }

    .home-template {
        height: 520px;
    }


    .product-container {
        margin-top: 140px;
    }

    .form-btn-container {
        padding-top: 60px !important;
        padding-left: 30px !important;
    }

    .nav-style {
        background-color: rgba(10, 10, 10, 1);
    }

    .mail {
        font-size: 11px;
    }

    .home-template {
        background-image: url('../Images/shutterstock_363324191vertical.jpg');
        background-size: cover;
    }

    .navbar-collapse-style {
        background-color: rgba(10, 10, 10, 0.4);
        margin-top: 22px;
        padding: 10px;
    }

    .form-container {
        display: none !important;
        background-color: rgba(0, 0, 0, .8) !important;
    }

    .index-item-body {
        width: 220px !important;
    }

    .index-items-title {
        font-size: 30px !important;
    }

    .index-ubication-description {
        max-width: 210px;
    }

    .ic-picture-container {
        width: 230px;
        height: 230px;
    }

    .ic-picture-img {
        object-fit: cover;
        width: 210px;
        height: 210px;
        border: 2px solid #17a2b8;
    }

    .ic-mail {
        font-size: 15px !important;
    }

    .ic-shadow {
        margin-top: 230px;
        margin-left: 70px;
        background: radial-gradient(circle, rgba(0,0,0,0.6150210425967262) -232%, rgba(0,0,0,0) 252%);
        box-shadow: 0px 0px 81px 7px;
        height: 60px;
        width: 60px !important;
    }

    .article-create-container {
        min-width: 220px !important;
        margin: 12px 4px;
    }

    .card-header-style {
        min-width: 219px !important;
    }

    .form-mobile {
        margin-bottom: 160px;
    }
}

@media (max-width: 426px) {

    .ubication-head-information {
        font-size: 18px;
    }

    .properties-head {
        margin-top: 180px;
    }

    .thumbnail {
        width: 180px;
        height: 180px;
    }

    .ribbon {
        font-size: 10px !important;
    }

    .form-mobile {
        background-color: rgba(0,0,0,.7);
        margin-top: 19px;
        padding: 5px;
        width: 80% !important;
        margin-left: 10%;
    }

    .product-container {
        margin-top: 60px;
    }

    .experience-mobile {
        display: flex;
    }

    .experience-desktop {
        display: none;
    }

    .agents {
        margin-top: -120px;
    }
}


@media (max-width: 425px) {



    .form-btn-container {
        padding-top: 15px !important;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }

    .home-template {
        background-image: url('../Images/shutterstock_363324191vertical.jpg');
        background-size: contain;
    }

    .index-item-body {
        width: 310px;
    }

    .create-article-btn {
        justify-content: center !important;
    }
}

@media (max-width: 375px) {

    .ubication-head-information {
        font-size: 14px;
    }

    .sale-label-correction {
        margin: 10px 0px 0px 80px !important;
    }

    .item {
        width: 300px !important;
    }

    .item-height {
        height: 200px !important;
    }

    .slide-gallery {
        width: 300px;
    }

    .property-gallery {
        width: 300px;
        height: 200px;
    }

    .item-ubication {
        width: 300px;
        height: 200px;
    }

    .ubication-gallery {
        width: 300px;
        height: 200px;
    }

    .ribbon {
        font-size: 9px !important;
    }

    .product-container {
        margin-top: 60px;
    }

    .form-mobile {
        font-size: 11px;
        margin-top: 8px;
        margin-bottom: 130px;
    }

    .form-control {
        min-width: 100%;
    }
}

@media (max-width: 320px) {

    .item-gallery {
        height: 40px !important;
        width: 40px !important;
    }

    .slide-gallery {
        width: 270px;
    }

    .ribbon {
        font-size: 8px !important;
    }

    .form-btn-container {
        padding-top: 5px !important;
        padding-left: 0% !important;
        padding-right: 0% !important;
    }

    .form-mobile {
        margin-bottom: 80px;
    }
}



.index-article-container {
    background: linear-gradient(to bottom, #dfe6e9, white);
    box-shadow: 0px 7px 9px -10px;
}

.index-item-container-1 {
    transform: translate(0, 500px);
    transition: 1.5s;
    opacity: 0;
}

.index-item-container-2 {
    transform: translate(0, 500px);
    transition: 2s;
    opacity: 0;
}

.index-item-container-3 {
    transform: translate(0, 500px);
    transition: 2.5s;
    opacity: 0;
}

.index-item-body {
    width: 370px;
}

.index-item-thumbnail {
    width: inherit;
    height: 240px;
}

.index-item-link {
    width: inherit;
    height: 240px;
    position: absolute;
    text-decoration: none !important;
    overflow: hidden;
}

a:link {
    text-decoration: none;
}

.index-item-img {
    height: inherit;
    width: inherit;
    position: absolute;
    object-fit: cover;
    transform-origin: 0% 50%;
    transition: 1s;
}

.index-item-hover-img {
    height: inherit;
    align-content: flex-start;
    justify-content: flex-end;
    position: relative;
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    opacity: 0;
    transition: 500ms;
    padding: 20px
}

.index-item-info {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: rgba(255, 255, 255, .3);
    transition: 500ms;
}

.divider {
    border-bottom: 2px solid;
    border-color: rgba(0,0,0, .2);
    border-bottom-style: dashed;
}

.index-item-body:hover .index-item-hover-img {
    background-color: rgba(0, 0, 0, .5);
    opacity: 1;
}

.index-item-body:hover .index-item-info {
    background-color: rgba(0, 0, 0, .5);
}

.index-item-price {
    color: #17a2b8;
}


.index-item-body:hover .index-item-price {
    color: #ffc107;
}

.index-item-house-info {
    position: absolute;
    font-size: 18px;
    opacity: 0;
    transition: 500ms;
    color: white;
}

.index-item-body:hover .index-item-house-info {
    opacity: 1;
}

.index-item-description {
    opacity: 1;
    font-weight: 800;
    transition: 200ms;
    font-family: Montserrat,sans-serif;
    color: rgba(0, 0, 0, .5);
}

.index-item-body:hover .index-item-description {
    opacity: 0;
}

.sale-label-body {
    width: 130px;
    height: 30px;
    margin-left: -140px;
    z-index: 12;
    margin-top: 10px;
    box-shadow: -4px 9px 7px -4px;
    justify-content: center;
    align-items: center;
    display: flex;
}


.index-item-body:hover .index-item-img {
    transform: scale(1.5);
}

.index-items-title {
    font-size: 46px;
    color: #2c3e50;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-family: Montserrat,sans-serif;
}

.index-items-description {
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 0;
    line-height: 2;
    text-align: center;
    text-transform: uppercase;
}

.ribbon:after, .ribbon:before {
    margin-top: 0.5em;
    content: "";
    float: left;
    border: 1.5em solid #000;
}

.ribbon:after {
    border-right-color: transparent;
}

.ribbon:before {
    border-left-color: transparent;
}

.ribbon a:link, .ribbon a:visited {
    color: #000;
    text-decoration: none;
    float: left;
    height: 3.5em;
    overflow: hidden;
}


.ribbon a {
    color: #FFF;
    text-decoration: none;
    float: left;
    height: 3.5em;
    overflow: hidden;
}

.ribbon span {
    background-color: black;
    display: inline-block;
    line-height: 3em;
    padding: 0 1em;
    margin-top: 0.5em;
    position: relative;
    transition: background-color 0.2s, margin-top 0.2s;
    height: 42px;
    color: white;
}

.ribbon a:hover span {
    background: #FFD204;
    margin-top: 0;
}

.ribbon span:before {
    content: "";
    position: absolute;
    top: 3em;
    left: 0;
    border-right: 0.5em solid #9B8651;
    border-bottom: 0.5em solid transparent;
}

.ribbon span:after {
    content: "";
    position: absolute;
    top: 3em;
    right: 0;
    border-left: 0.5em solid #9B8651;
    border-bottom: 0.5em solid transparent;
}

.index-meeting-header {
    background-color: #2c3e50;
    align-items: center;
    display: flex;
    justify-content: center;
}

.index-meeting-body {
    padding: 50px;
    background-color: #ffff
}


.footer {
    background-color: #1d262d;
    padding: 25px;
    max-width: 100vw;
}

.social {
    display: flex;
    justify-content: flex-end;
}

.social-box {
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    margin: 20px 20px;
    background-repeat: no-repeat;
}

.social-facebook {
    background-image: url('../Images/facebook.png');
}

.social-twitter {
    background-image: url('../Images/twitter.png');
}

.social-instagram {
    background-image: url('../Images/instagram.png');
}

.social-design {
    background-image: url('../Images/logoNebulosa.png');
    width: 100px;
    height: 50px;
    background-size: 100px 50px;
}

.social-whatsapp {
    background-image: url('../Images/whatsapp.svg');
    width: 100px;
    height: 50px;
    background-size: 100px 50px;
}

.design-text {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Indie Flower', cursive;
    font-weight: 500;
}

.brand {
    position: absolute;
    height: 50px;
    width: 40px;
}

.background-brand {
    height: 30px;
    width: 31px;
    border-radius: 30px;
    margin-top: 15px;
}

.label-brand {
    font-size: 20px;
    color: white;
    font-weight: 700;
    font-family: Montserrat,sans-serif;
}

.conocenos-animation {
    opacity: 0;
    transition: 1.5s;
}

.dropdown-menu {
    background-color: rgba( 0, 0, 0, .7) !important;
}

.dropdown-item {
    color: white !important;
}

    .dropdown-item:hover {
        background-color: rgba( 255, 255, 255, .1) !important;
    }

.Venta {
    background-color: rgba(40, 167, 69, .4) !important;
}

.Sobresaliente {
    background-color: rgba(255, 193, 7,.6) !important;
}

.Oportunidad {
    background-color: rgba(23, 162, 184, .4) !important;
}

.sale-Sobresaliente {
    background-color: #ffc107;
}

.sale-Oportunidad {
    background-color: #17a2b8;
}

.sale-Venta {
    background-color: #dc3545;
}

.form-1 {
    transition: 1s;
}

.form-header {
    transition: 1s;
}

.form-container {
    margin: 20px auto 250px 60px;
    max-width: 500px;
    background-color: rgba(255, 255, 255, .3);
    transition: height 1s, transform 2s;
    color: #f8f9fa;
}

.success-text {
    display: none;
    position: absolute;
    padding: 40px;
    opacity: 0;
    transform: rotateY(180deg);
    transition: 2s;
    transition-delay: 1s;
}

.load-gif {
    height: 100%;
    min-width: 100%;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.house-gif {
    animation-duration: 2s;
    animation-name: sizeGif;
    animation-iteration-count: infinite;
}



@keyframes sizeGif {
    0% {
        height: 50px;
    }

    50% {
        height: 75px;
    }

    100% {
        height: 50px;
    }
}

.item {
    height: 500px;
    width: 600px;
    object-fit: cover;
}

.item-gallery {
    height: 130px;
    width: 130px;
}

.index-sale-label-ribbon {
    position: absolute;
    width: 8px;
    height: 5px;
    clip-path: polygon(0% 100%, 0% 0%, 100% 0%);
    opacity: .9;
    margin-left: 304px;
    margin-top: 50px;
}

.index-sale-label-body {
    margin-top: 20px;
    margin-left: 248px;
    width: 120px;
    position: absolute;
    height: 30px;
    z-index: 12;
    box-shadow: -4px 9px 7px -4px;
}
