body {
    padding-bottom: 20px;
    background-color: #dfe6e9;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.delete-button {
    margin-left: 3px;
}

.url-label {
    color: Gray;
    font-weight: 400;
    line-height: 1.5;
}

.icAlignStyle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-label-style {
    display: flex;
    height: 90px;
    width: 90px;
    border: dashed;
    justify-content: center;
    align-items: center;
    border-color: gray;
}

.list-style {
    border-bottom: 1px solid rgba(0,0,0,.125);
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
}

.image-preview-style {
    width: 90px;
    height: 90px;
    margin-left: -50px;
}

.ubication-feature-lbl {
    background-color: white;
    color: black;
}

    .ubication-feature-lbl:hover {
        background-color: darkgreen;
        color: white;
    }

.ubication-feature-lbl-selected {
    background-color: darkgreen;
    color: white;
}

    .ubication-feature-lbl-selected:hover {
        background-color: darkred;
        color: white;
    }

.thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    box-shadow: 3px 3px 2px rgba(0,0,0,.175);
}


.close-button-style {
    color: red;
    font-size: 18px;
    margin-left: -13px;
    margin-top: -4px;
    z-index: 1000;
    background-color: white;
    height: 14px;
    width: 13px;
    border-radius: 100px;
}

.figure-selected-style {
    border: 5px solid rgba(40, 167, 69, 1);
}

.figure-style {
    border: 5px solid rgba(40, 167, 69, 0);
}



    .figure-style:hover {
        border: 5px solid rgba(40, 167, 69, .3);

    }

.card-style {
    border: 1px solid rgba(0,0,0,.125);
    padding-bottom: 24px;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
    margin: 30px;
}

.card-header-style {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    padding: 5px;
    background-color: rgba(1,1,1,0.6);
    color: white;
    margin-bottom: 24px;
    height: 38px;
}


