
@{
    ViewBag.Title = "ErrorPage";
}

<div class="d-flex justify-content-center align-items-center flex-wrap align-content-center bg-white" style="height: 100vh; max-width: 100vw;">
    <div class="col-12 d-flex justify-content-center">
        <img src="https://speoimages.blob.core.windows.net/commonimages/logo2.png" alt="" height="400" width="300"/>
    </div>
    <div class="col-12 text-center ">  
        <strong>Felicidades!!!</strong>
        <p>Acabas de encontrar un error, para reportarlo envia una imagen de esta pantalla.</p>
        <small>@ViewBag.error</small>
    </div>
</div>
