@model WebApplication1.Models.UbicationFeature

@{
    ViewBag.Title = "Delete";
}

<div class="justify-content-center d-flex">
    <h3 class="url-label">Caracteristicas de ubicacion</h3>
</div>

<div>
    <hr />
    <div class="justify-content-center d-flex ">
        <div>
            <h5>
                Si eliminas esta caracteristica no sera posible recuperarla.
            </h5>
        </div>
    </div>
    <hr />

    <div class="justify-content-center d-flex text-center">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
    </div>

    <div class="justify-content-center d-flex">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Borrar" class="btn btn-danger" />
                <a href="/UbicationFeatures" class="btn btn-outline-secondary">Regresar</a>
            </div>
        }
    </div>
</div>