@model IEnumerable<WebApplication1.ViewModel.UserView>
@{
    ViewBag.Title = "Index";
}

<div class="container p-4">


    <div class="justify-content-center d-flex text-center mb-2">
        <h3 class="url-label">Administrador de Roles</h3>
    </div>





    @foreach (var item in Model)
    {

        <div class="container row d-flex mb-3 p-2 text-center">
            <div class="col-md-4 ">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="col-md-4 ">
                @Html.DisplayFor(modelItem => item.Email)
            </div>
            <div class="col-md-4 flex-nowrap ">
                @Html.ActionLink("Roles", "Roles", new { userId = item.UserID }, new { @class = "btn btn-outline-info" })
                @*@Html.ActionLink("Borrar", "DeleteUser", new { userId = item.UserID }, new { @class = "btn btn-outline-danger delete-button" })*@
            </div>
        </div>
        <hr />
    }
</div>


